.app {
  height: 100%;
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: #1d1d1d;
}

.item {
  border: 3px dashed darkgrey;
  padding: 20px 40px;
  border-radius: 15px;
}
